/*
*
* @author Vitor Garcia
@@version 0.1
*/

/* =========================================== Layout =========================================== */

body{
	border: 1px solid red;
	background: url('../img/capa.png'), 
				url('../img/ruido.png'),
				linear-gradient(50deg, #ff4169, #7c26f8);					  ;
}


/* -- Navigation Bar -- */

.img-logo{
	height: 40px;
	width: 132px;
	display: block;
	background: url('../img/spotify.svg') no-repeat;
	background-size: contain;
	color: transparent;
}

nav.navbar-transparent{
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divider{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: #9bf0e1;
}

/* -- Main Page -- */



/* =========================================== Typography =========================================== */