/*
*
* @author Vitor Garcia
@@version 0.1
*/

/* =========================================== Layout =========================================== */
html, body, .main-page{
	height: 100%;
}


body{
	background: url('../img/capa.png'), 
				url('../img/ruido.png'),
				linear-gradient(50deg, #ff4169, #7c26f8);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
}


/* -- Navigation Bar -- */

.img-logo{
	height: 40px;
	width: 132px;
	display: block;
	background: url('../img/spotify.svg') no-repeat;
	background-size: contain;
	color: transparent;
}

nav.navbar-transparent{
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divider{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: #9bf0e1;
}

/* -- Main Page Image -- */

.main-page{
	display: table;
	width: 100%;
}

.main-text{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

/* -- Buttons -- */

.btn-custom{
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	padding: 10px 35px;
	margin: 0px 15px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
}

.btn-purple{
	background: #7c25f8;
}

.btn-purple:hover{
	background: #6207e3;
	color: white;
}

.btn-white{
	border: 2px solid white;
}

.btn-white:hover{
	background-color: white;
	color: black;
}

/* -- Service section -- */
#services{
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.albuns{
	padding:10px 0px 10px 0px;
}

/* =========================================== Typography =========================================== */

h1{
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}

h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3{
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

#services h2, #services h3 {
	color: #7c25f8;
}